.button-wrapper {
    position: relative;
}
.button {
    overflow: hidden;
    width: 100%;
    border-radius: "md";
}
/* Styling for the button's glowing effect on hover */
.button::before {
    content: "";
    box-shadow: 0px 0px 24px 0px #ffeb3b;
    mix-blend-mode: screen;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: "md";
    opacity: 0;
}
/* Additional glowing effect for the button */
.button::after {
    content: "";
    box-shadow: 0px 0px 23px 0px #fdfca9 inset, 0px 0px 8px 0px #ffffff42;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    opacity: 0;
}
.button-wrapper:hover {
    .button::before,
    .button::after {
        opacity: 1;
    }

    .dot {
        transform: translate(0, 0) rotate(var(--rotatation));
    }

    .dot::after {
        animation-play-state: running;
    }
}
/* Styling for individual dots */
.dot {
    display: block;
    position: absolute;
    transition: transform calc(var(--speed) / 12) ease;
    width: var(--size);
    height: var(--size);
    transform: translate(var(--starting-x), var(--starting-y))
        rotate(var(--rotatation));
}
.dot::after {
    content: "";
    animation: hoverFirefly var(--speed) infinite,
        dimFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
    animation-play-state: paused;
    display: block;
    border-radius: 100%;
    background: yellow;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 0px #ffeb3b, 0px 0px 4px 0px #fdfca9 inset,
        0px 0px 2px 1px #ffffff42;
}
.dot-1 {
    --rotatation: 0deg;
    --speed: 14s;
    --size: 6px;
    --starting-x: 30px;
    --starting-y: 20px;
    top: 5px;
    left: 10px; /* Randomized left position */
    opacity: 0.7;
}

.dot-2 {
    --rotatation: 122deg;
    --speed: 16s;
    --size: 3px;
    --starting-x: 40px;
    --starting-y: 10px;
    top: 15px;
    right: 15px; /* Randomized right position */
    opacity: 0.7;
}

.dot-3 {
    --rotatation: 39deg;
    --speed: 20s;
    --size: 4px;
    --starting-x: -10px;
    --starting-y: 20px;
    top: 30px;
    left: 5px; /* Randomized left position */
}

.dot-4 {
    --rotatation: 220deg;
    --speed: 18s;
    --size: 2px;
    --starting-x: -30px;
    --starting-y: -5px;
    top: 40px;
    right: 20px; /* Randomized right position */
    opacity: 0.9;
}

.dot-5 {
    --rotatation: 190deg;
    --speed: 22s;
    --size: 5px;
    --starting-x: -40px;
    --starting-y: -20px;
    bottom: 15px; /* Randomized bottom position */
    right: 10px; /* Randomized right position */
}

.dot-6 {
    --rotatation: 20deg;
    --speed: 15s;
    --size: 4px;
    --starting-x: 12px;
    --starting-y: -18px;
    bottom: 25px; /* Randomized bottom position */
    left: 30px;
    opacity: 0.7;
}

.dot-7 {
    --rotatation: 300deg;
    --speed: 19s;
    --size: 3px;
    --starting-x: 6px;
    --starting-y: -20px;
    bottom: 10px; /* Randomized bottom position */
    right: 30px; /* Randomized right position */
}

.dot-8 {
    --rotatation: 90deg;
    --speed: 17s;
    --size: 5px;
    --starting-x: 20px;
    --starting-y: 10px;
    top: 55px; /* Randomized top position */
    left: 25px; /* Randomized left position */
    opacity: 0.7;
}

.dot-9 {
    --rotatation: 180deg;
    --speed: 21s;
    --size: 6px;
    --starting-x: -20px;
    --starting-y: 10px;
    bottom: 35px;
    left: 5px; /* Randomized left position */
}

.dot-10 {
    --rotatation: 270deg;
    --speed: 23s;
    --size: 3px;
    --starting-x: -10px;
    --starting-y: 20px;
    bottom: 5px; /* Randomized bottom position */
    right: 5px; /* Randomized right position */
}

.dot-11 {
    --rotatation: 120deg;
    --speed: 15s;
    --size: 4px;
    --starting-x: 20px;
    --starting-y: 10px;
    top: 80px; /* Randomized top position */
    left: 35px; /* Randomized left position */
    opacity: 0.7;
}

.dot-12 {
    --rotatation: 240deg;
    --speed: 17s;
    --size: 5px;
    --starting-x: -20px;
    --starting-y: 10px;
    bottom: 45px; /* Randomized bottom position */
    right: 40px; /* Randomized right position */
}

.dot-13 {
    --rotatation: 60deg;
    --speed: 19s;
    --size: 6px;
    --starting-x: -10px;
    --starting-y: 20px;
    top: 120px; /* Randomized top position */
    left: 20px; /* Randomized left position */
}

.dot-14 {
    --rotatation: 150deg;
    --speed: 21s;
    --size: 3px;
    --starting-x: 20px;
    --starting-y: 10px;
    bottom: 70px; /* Randomized bottom position */
    right: 20px; /* Randomized right position */
}

.dot-15 {
    --rotatation: 330deg;
    --speed: 23s;
    --size: 4px;
    --starting-x: -20px;
    --starting-y: 10px;
    top: 95px; /* Randomized top position */
    right: 5px; /* Randomized right position */
}

.dot-16 {
    --rotatation: 210deg;
    --speed: 15s;
    --size: 5px;
    --starting-x: -10px;
    --starting-y: 20px;
    bottom: 50px; /* Randomized bottom position */
    left: 5px; /* Randomized left position */
}

.dot-17 {
    --rotatation: 30deg;
    --speed: 17s;
    --size: 6px;
    --starting-x: 20px;
    --starting-y: 10px;
    top: 150px; /* Randomized top position */
    right: 50px; /* Randomized right position */
}

.dot-18 {
    --rotatation: 270deg;
    --speed: 19s;
    --size: 3px;
    --starting-x: -20px;
    --starting-y: 10px;
    bottom: 20px; /* Randomized bottom position */
    left: 20px; /* Randomized left position */
}

.dot-19 {
    --rotatation: 90deg;
    --speed: 21s;
    --size: 4px;
    --starting-x: -10px;
    --starting-y: 20px;
    top: 110px; /* Randomized top position */
    right: 35px; /* Randomized right position */
}

.dot-20 {
    --rotatation: 180deg;
    --speed: 23s;
    --size: 5px;
    --starting-x: 20px;
    --starting-y: 10px;
    bottom: 60px; /* Randomized bottom position */
    left: 15px; /* Randomized left position */
}

/* Keyframe animations */
@keyframes dimFirefly {
    0% {
        opacity: 1;
    }
    8% {
        opacity: 0.4;
    }
    22% {
        opacity: 0.8;
    }
    28% {
        opacity: 0.5;
    }
    42% {
        opacity: 1;
    }
    48% {
        opacity: 0.6;
    }
    62% {
        opacity: 0.9;
    }
    68% {
        opacity: 0.7;
    }
    82% {
        opacity: 0.5;
    }
    88% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hoverFirefly {
    0% {
        transform: translate(0, 0);
    }
    12% {
        transform: translate(3px, 1px);
    }
    24% {
        transform: translate(-2px, 3px);
    }
    37% {
        transform: translate(2px, -2px);
    }
    55% {
        transform: translate(-1px, 0);
    }
    74% {
        transform: translate(0, 2px);
    }
    88% {
        transform: translate(-3px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.modal-wrapper {
    position: relative;
    z-index: 1050; /* Ensure this is above the dots */
}
.modal {
    overflow: hidden;
    width: 100%;
    border-radius: "md 0 0 md";
}
/* Styling for the button's glowing effect on hover */
.modal::before {
    content: "";
    box-shadow: 0px 0px 24px 0px #ffeb3b;
    mix-blend-mode: screen;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: "md 0 0 md";
    opacity: 0;
}
/* Additional glowing effect for the button */
.modal::after {
    content: "";
    box-shadow: 0px 0px 23px 0px #fdfca9 inset, 0px 0px 8px 0px #ffffff42;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: "md 0 0 md";
    opacity: 0;
}
.modal::before,
.modal::after {
    opacity: 1;
}

.dot {
    transform: translate(0, 0) rotate(var(--rotatation));
    z-index: 1;
}

.dot::after {
    animation-play-state: running;
}

.chakra-modal__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1100; /* Higher z-index to make sure it's on top */
}
